.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: "var(--spacing-5)";
    gap: 25px
  }
  
  .pictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 40px;
  }

  .under_picture{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .textField {
    width: 65%;
  }
  
  .button {
    margin: var(--spacing-1);
  }
  
  
  .label {
    font-family: Rockwell;
    font-size: 13px;
    opacity: 0.5;
  }

  .heading {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 24px;
    margin-left: 5%;
    margin-right: 5%;
    color: #573e6b;
  }

  @media (max-width: 600px) {
    .pictures {
      flex-direction: column;
      justify-content: center;
      gap:1px
    }

  }
  