.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    width: 600px;
    background-color: #fff;
    padding: 32px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
  }

  .heading {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
    color: #573E6B;
  }

  .label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .input {
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
    outline: none;
    transition: border-color 0.2s;
  }

  .input:focus {
    border-color: #9356AA;
  }

  .button {
    display: block;
    width: 100%;
    margin-top: 24px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #A45FBE;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
    font-family: "Rockwell";
  }

  .button:hover {
    background-color: #9356AA;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #573E6B;
  }

  .forgot:hover, .new:hover, .existing:hover {
     text-decoration: underline;
  }

  .error{
      color: red;
  }

  .image_container{
    text-align: center;

  }

  .logo {
    height: 35%;
    width: 35%;
  }
